body {
    margin: 10px;
}
header {
    background-color: coral;
    padding: 5px;
    display: grid;
    grid-area: header;
    grid-template-areas: 
    'header nav'
    ;
    border-radius: 6px;
}

header > nav {
    /* flex-direction: row; */
    /* justify-content: flex-end; */
    
}

header > nav > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    grid-area: nav;
    

    

}

main > nav > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

main > section {
    background-color: lightgrey;
    padding: 50px;
    border-radius: 6px;
}

.headings{
    display: flex;
    justify-content: center;
    
}


.images{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    }

input{
    width: 200px;
    height: 50px;
    background-color: lightgray;
    border-radius: 2px;
}

input[type=submit] {
    background-color: coral;
    border: none;
    color: white;


}

li [type="button"]{
    margin: 5px;
    width: 75px;
    height: 45px;
    background-color: lightgray;
    border-radius: 6px;
    padding: 10px; 
    border: none;
}







/* 
    .images{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    } */


/* .popular {
    display: flex;
    flex-flow: wrap;

} */

/* .popular {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-flow: wrap; */

 */
