body {
    margin: 10px;
}
header {
    background-color: coral;
    padding: 5px;
    display: grid;
    grid-area: header;
    grid-template-areas: 
    'header nav'
    ;
}

header > nav {
    /* flex-direction: row; */
    /* justify-content: flex-end; */
    
}

header > nav > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    grid-area: nav;

}

main > nav > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main > section {
    background-color: grey;
}

.popular {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;

}